{%extends 'layout.html'%}
{%block content%}
<div class="container">
<h1 class="text-md-center text-lg-center text-dark fw-bold text-sm-start shadow m-5 p-5">About Us</h1>
       <div class="row">
        <div class="col">
            <img src="static/images/court.jpeg" alt="" class="m-3">
        </div>
        <div class="col m-3">
            <p class="lead">This is a personalized Ecourt web application which provies its services and is dedicated towards a single court.
                It provides complete information about the cases registered in it...
                And this application receives updates on every day basis by keeping the track of proceedings of the court which will give an
                accurate information to the users.
                This also updates the current status of the cases that are recorded in the application such as-Registered, Trails etc...</p>
        </div>
       </div>
<h1 class="text-md-center text-lg-center text-dark fw-bold text-sm-start shadow m-5 p-5">User Manual</h1>
        <p class="lead">-> The users can be advocates or clients who can register and then login to search for their required case through the registerd Case Number 
        for the case(CNR).<br/>
        -> They are provided with the feasibility of saving their cases to "My Cases" section and are free to discard them from the section
        whenever they want.<br/>
        -> The users can update their passwords by entering the old password and setting up a new password.<br/>
        -> They can serach for the case details without logging in but to save the case they must login with their enrollment id and password
        which are provided by them at the time of registration.</p>
</div>
{%endblock%}