{%extends 'forms_layout.html'%}
{%block form%}
<div class="bg-img">
   <div class="content" style="width:800px;">
      <header>Edit a new Case</header>
      <form action="/EditingCaseInDb" method="POST">
         <div class="field">
            <span class="fas fa-gavel"></span>
            <input type="text"  name="cnr" required value="{{x[0]}}" readonly />
         </div>
         <div class="field space">
            <span class="fa fa-user"></span>
            <input type="text" name="petitioner" required value="{{x[1]}}" readonly />
         </div>
         <div class="field space">
           <span class="fas fa-gavel"></span>
           <input type="text" name="petitioner(A)" required value="{{x[2]}}" />
        </div>
        <div class="field space">
           <span class="fa fa-user"></span>
           <input type="text" name="Respondent" required value="{{x[3]}}" readonly />
        </div>
        <div class="field space">
           <span class="fas fa-gavel"></span>
           <input type="text" name="Respondent(A)" required value="{{x[4]}}" />
        </div>
        <div class="field space">
           <span class="fas fa-calendar"></span>
           <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="filed on" value="{{x[5]}}" readonly/>      
        </div>
        <div class="field space">
           <span class="fas fa-users"></span>
           <input type="text" name="disposed by"  value="{{x[6]}}" />
        </div>
        <div class="field space">
           <span class="fas fa-gavel"></span>
           <input type="text" name="Bench name" required value="{{x[7]}}" />
        </div>
        <div class="field space">
           <span class="fas fa-calendar"></span>
           <input value="{{x[8]}}" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="disposed on" />      
        </div>
        <div class="field space">
           <span class="fas fa-gavel"></span>
           <input type="text" name="Status" required value="{{x[9]}}" />
        </div><br>
         <div class="field">
            <input type="submit" value="Edit Case" />
         </div>
      </form>
   </div>
</div>
{%endblock%}